<body>
	<div id="inicio">
		<form action="<?=base_url()?>videos/login" method="post" accept-charset="utf-8" id="login">
		<input type="text" name="identity" value="" placeholder="Usuario" class="form-group">
		<br/>
		<input type="password" name="password" value="" placeholder="Contraseña" class="form-group">
		<br/>
		<label for="">Recordarme</label>
		<input type="checkbox" name="remember" value="">
		<br/>
		<button type="submit" class="btn btn-primary">Iniciar</button>
		<br>
	<!--	<a href="#">Olvidaste tu pass</a> -->
		<br>
		<a href="<?=base_url()?>videos/registro">Registrate</a>
		<br/>
	</form>
	</div>
</body>
</html>