@media(min-width: 1280px){
	.contenedor-global {
	background-color: #5700FF;
	width: 100%;
	}
	.contenido {
	  background-color: #000AFF;
	  position: static;
	  width: 90%;
	  padding: 2.5% 2.5%;
	  margin: 2.5% 2.5%;
	}
	.contenido .principal-video {
		background-color: #0068FF;
		word-wrap: break-word;
		float: middle;
		width: 100%;
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	.video-js{
		float: middle;
		width: 70%;
		padding: 2.5% 2.5% 2.5% 2.5%;
		margin: 2.5% 2.5% 2.5% 2.5%;
		height: auto;
	}
	.contenido .mas-videos {
		text-align: justify;
		word-wrap: break-word;
		background-color: #00AEFF;
		float: right;
		width: 26%;
		position: static;
		left: 70%;
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	.contenido .comentarios-video {
		word-wrap: break-word;
		background-color: #0EFFF5;
		float: left;
		width: 70%;
		right: 30%;
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	.principal-video .campos-registro {
		word-wrap: break-word;
		float: middle;
		background-color: #00FF6F;
		width: 100%;
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	.campos-registro .contenedor-publicidad{
		width: 48%;
		background-color: #12F334;
		float: left;
		padding: 1% 1%;
		margin: 1% 1%;
	}
	.campos-registro .contenedor-datos{
		text-align: left;
		width: 48%;
		background-color: #0DEB44;
		float: right;
		padding: 1% 1%;
		margin: 1% 1%;
	}
	#pie {
	  clear: both;
	  background-color: #00FFAC;
	  text-align: center;
	}
	#inicio{
		width: 30%;
		height: 250px;
		background-color: #E7E7E7;
		padding: 10px 10px;
		margin: auto;
	}
	#inicio, #login{
		text-align: center;
		padding: 20px, 20px;
		margin:  20px, 20px;
	}

	#upload{
		height: 400px;
		text-align: center;
		border: 2px solid #fff;
	}
	#stream{
		height: 400px;
 		text-align: center;
		border: 2px solid #fff;
	}	
	#contenido-upload{
		margin-bottom: 490px;
	}
}