@media(min-width: 0px) and (max-width: 1279px){
	html{
		resize:none;
	}
	#contenedor {
	background-color: #ED1A1D;
	width: 100%;
	}
	#contenido {
	  background-color: #C937CD;
	  position: static;
	  width: 90%;
	  padding-left: 2.5%;
	  padding-right: 2.5%;
	  margin-left: 2.5%;
	  margin-right: 2.5%;
	  padding-bottom: 2.5%;
	  padding-top: 2.5%;
	  margin-bottom: 2.5%;
	  margin-top: 2.5%;
	}
	#contenido #principal {
		background-color: #E22D69;
		word-wrap: break-word;
		float: middle;
		width: 100%;
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	.video-js{
		float: middle;
		width: 100%;
		padding: 2.5% 2.5% 2.5% 2.5%;
		margin: 2.5% 2.5% 2.5% 2.5%;
	}
	#contenido #secundario {
		text-align: justify;
		word-wrap: break-word;
		background-color: #16E171;
		float: middle;
		width: 100%;
		position: static;
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	#contenido #comentarios {
		word-wrap: break-word;
		background-color: #F0F11C;
		float: middle;
		width: 100%;
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 1%;
		padding-top: 1%;
		margin-top: 1%;
		margin-bottom: 1%;
		margin-right: 1%;
		margin-left: 1%;
	}
	#pie {
	  clear: both;
	  background-color: #9ACE38;
	  text-align: center;
	}
	.login{
		width: 48%;
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	label{
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
}
@media(min-width: 1280px){

	label{
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	input{
		padding: 1% 1% 1% 1%;
		margin: 1% 1% 1% 1%;
	}
	.complete{
		width: 94%;
	}
	.medio{
		width: 46%;
		display: inline-block;
	}  
	form{
		text-align: left;
	}
	img{
		width: 50%;
		height: auto;
	}
	.error{
		color:#FF0000;
	}
	#inicio{
		width: 30%;
		height: 250px;
		background-color: #E7E7E7;
		padding: 10px 10px;
		margin: auto;
	}
	#inicio, #login{
		text-align: center;
		padding: 20px, 20px;
		margin:  20px, 20px;
	}
	#space{
		background-color: #1A12DD;
		width: 100%;
		height: 400px;
	}
}